html {
  font-size: 100%;
  font-family: 'Poppins', Verdana, sans-serif;
  line-height: 1.5rem;
  text-align: center;
}

main {
  margin-top: 3.5rem;
  margin-bottom: 3rem;
  width: 100%;
}

h1 {
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 1.5rem;
}

#icon {
  max-height: 350px;
  margin-bottom: 1rem;
}

#feeling-desc {
  padding: 0 10px;
}

#weather-activity {
  font-size: 1.5rem;
  margin-bottom: 1.5rem;
}

main p:last-of-type {
  margin-top: 1rem;
}

.buttons {
  margin-top: 2rem;
}

.buttons button:first-of-type {
    margin-right: 1rem;
}

button {
  padding: 10px 15px;
  border: 0;
  font-size: 100%;
  font-family: 'Poppins', Verdana, sans-serif;
  transition: background-color 0.2s ease-out;
  background-color: rgba(192, 192, 192, 1);
}

button:hover {
  background-color: rgba(192, 192, 192, 0.7);
}

.selected {
  background-color: #99DFEE;
  pointer-events: none;
}

footer {
  font-size: 0.7rem;
  padding-bottom: 2rem;
}

@media (max-width: 740px) {
  h1 {
    font-size: 1.5rem;
    width: 300px;
    line-height: 2.2rem;
    margin: 0 auto 20px auto;
  }

  #weather-activity {
    font-size: 1.3rem;
  }

  #icon {
    max-width: 90%;
  }

  #forecast {
    padding: 0 20px;
  }

  main p:last-of-type {
  margin-top: 0.3rem;
}
}




